body {
  text-allign: center;  
  background-color: white
    }
  h1 {
      color: black;
    text-align: center;
  }
  h2 {
    background-color:rgb(97, 97, 97);
    color: rgb(255, 255, 255);
    padding: 40px;
    text-align: center;
  }
  img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  }
  table, tr, td {
    border: 2px solid darkgrey;
    border-collapse: collapse;
    padding: 5px;
    width: 1500px;
    text-align: center;
    }
  tr:hover {
    background-color: #f5f5f5;
    }
  tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  p {
    background-color: DodgerBlue;
    text-align: center;
    }
  #quote01 {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  }
  .a {
    text-align: center;
  }
