body {
    background-color: white
  }
  body {
    background-image: url("paper.gif");
  }
  h1 {
    color: black;
  }
  table {
    border-style: 1px solid ;
    border-color: grey ;
  }
  p {
    background-color: DodgerBlue;
  }
